<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webchat</title>

    <script>
        const session = Math.random().toString(36).substring(7);

        window.onload = function () {
            document.getElementById("userMessage").onkeydown = function (event) {
                if (event.code === "Enter") {
                    updateChat();
                }
            }
        };

        function updateChat() {
            const userMessage = document.getElementById("userMessage");
            const userMessageContent = userMessage.value;
            const chatLog = document.getElementById("chatLog");
            const userP = document.createElement("p");
            userP.innerText = "You: " + userMessageContent;
            chatLog.appendChild(userP);
            userMessage.value = "";

            getResponse(userMessageContent);
        }

        function appendResponse(response) {
            const chatLog = document.getElementById("chatLog");
            const botP = document.createElement("p");
            botP.innerText = "Bot: " + response;
            chatLog.appendChild(botP);
            chatLog.scrollTop = chatLog.scrollHeight;  // scroll to bottom
        }

        function getResponse(message) {
            httpPostAsync("{{ url_for('get_chat_message') }}",
                {'session': session, 'message': message},
                appendResponse);
        }

        // modified from https://stackoverflow.com/a/4033310/ and https://stackoverflow.com/a/38982661/
        function httpPostAsync(url, body, callback) {
            const xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4)
                    if (xmlHttp.status === 200)
                        callback(xmlHttp.responseText);
                    else
                        callback("[Server error]");
            };
            xmlHttp.open("POST", url, true); // true for asynchronous
            xmlHttp.setRequestHeader('Content-Type', 'application/json');
            xmlHttp.send(JSON.stringify(body));
        }
    </script>
    <style>
        #chatLog {
            position: absolute;
            overflow-y: scroll;
            width: 70%;
            max-height: 70%;
        }

        #messageEntry {
            position: absolute;
            left: 5px;
            bottom: 0;
            height: 100px;
        }
    </style>
</head>
<body>
{% include "header.html" %}
<div id="chatLog"></div>
<div id="messageEntry">
    <label>Message
        <input type="text" id="userMessage" autofocus>
    </label>
    <button onclick="updateChat()">Send</button>
</div>
</body>
</html>