<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webchat</title>

    <script>
        const session = Math.random().toString(36).substring(7);
        let lastPoll = new Date();
        let lastPollSuceeded = true;

        window.onload = function () {
            document.getElementById("userMessage").onkeydown = function (event) {
                if (event.code === "Enter") {
                    updateChat();
                }
            };
            poll();
        };

        function poll() {
            httpAsync("{{ url_for('poll_for_stepin') }}",
                {'session': session, 'since': lastPoll.getTime() / 1000},
                receivePoll,
                'GET');
            lastPoll = new Date();
            window.setTimeout(poll, 5000);
        }


        function receivePoll(success, response) {
            if (success) {
                lastPollSuceeded = true;
                const chatLog = document.getElementById("chatLog");
                for (const message of JSON.parse(response)) {
                    const newP = document.createElement("p");
                    chatLog.appendChild(newP);
                    newP.innerText = (message[1] ? "You:" : "Bot:") + " " + message[0];
                }
                chatLog.scrollTop = chatLog.scrollHeight;
            } else {
                if (lastPollSuceeded) {
                    lastPollSuceeded = false;
                    alert("Polling error!");
                }
            }
        }

        function updateChat() {
            const userMessage = document.getElementById("userMessage");
            const userMessageContent = userMessage.value;
            const chatLog = document.getElementById("chatLog");
            const userP = document.createElement("p");
            userMessage.value = "";

            getResponse(userMessageContent);
        }

        function getResponse(message) {
            httpPostAsync("{{ url_for('get_chat_message') }}",
                {'session': session, 'message': message},
                null);
        }

        // modified from https://stackoverflow.com/a/4033310/ and https://stackoverflow.com/a/38982661/
        function httpPostAsync(url, body, callback) {
            const xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4)
                    if (xmlHttp.status === 200)
                        callback(xmlHttp.responseText);
                    else
                        callback("[Server error]");
            };
            xmlHttp.open("POST", url, true); // true for asynchronous
            xmlHttp.setRequestHeader('Content-Type', 'application/json');
            xmlHttp.send(JSON.stringify(body));
        }

        function httpAsync(url, body, callback, method = 'POST') {
            const xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4) {
                    callback(xmlHttp.status === 200, xmlHttp.responseText);
                }

            };
            if (method === 'GET') {
                url += formatParams(body);
            }
            xmlHttp.open(method, url, true); // true for asynchronous
            if (method === 'POST') {
                xmlHttp.setRequestHeader('Content-Type', 'application/json');
                xmlHttp.send(JSON.stringify(body));
            } else if (method === 'GET') {
                xmlHttp.send();
            }
        }

        function formatParams(params) {
            return "?" + Object
                .keys(params)
                .map(function (key) {
                    return key + "=" + encodeURIComponent(params[key])
                })
                .join("&")
        }
    </script>
    <style>
        #chatLog {
            position: absolute;
            overflow-y: scroll;
            width: 70%;
            max-height: 70%;
        }

        #messageEntry {
            position: absolute;
            left: 5px;
            bottom: 0;
            height: 100px;
        }
    </style>
</head>
<body>
{% include "header.html" %}
<div id="chatLog"></div>
<div id="messageEntry">
    <label>Message
        <input type="text" id="userMessage" autofocus>
    </label>
    <button onclick="updateChat()">Send</button>
</div>
</body>
</html>