<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sessions</title>
</head>
<body>
{% include "header.html" %}
<h1>Sessions</h1>

<ol>
    {% for session_id, exchange, data in sessions %}
        <li>
            <a href="{{ url_for('view_log', log=session_id) }}">{{ session_id }}</a>: <i>{{ exchange }}</i>
            {% if data %}
                <ul>
                    {% for key, value in data.items() %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="{{ url_for('clear_session') }}" method="post">
                <input type="text" name="session_id" value="{{ session_id }}" hidden>
                <button>Clear {{ session_id }}</button>
            </form>
            <br>
        </li>
    {% endfor %}
</ol>
</body>
</html>