<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sessions</title>

    <script>
        let queueToggleOn = false;
        window.onload = function () {
            updateQueueToggle();
        };

        function updateQueueToggle() {
            queueToggleOn = document.getElementById("queueToggle").checked;
            for (let thing of document.getElementsByClassName("unqueued")) {
                if (queueToggleOn) {
                    thing.classList.add("invisible");
                } else {
                    thing.classList.remove("invisible");
                }
            }

        }
    </script>
    <style>
        .invisible {
            display: none;
        }
    </style>
</head>
<body>
{% include "header.html" %}
<h1>Sessions</h1>

<a href="{{ url_for('new_session') }}">New Session</a>
<br><br>
<label>
    <input type="checkbox" id="queueToggle" onclick="updateQueueToggle()">
    <b>See queued only</b>
</label>
<ol>
    {% for session_id, exchange, data in sessions %}
        <li
                class="{{ 'queued' if data and data.get('queued') else 'unqueued' }}"
        >
            <a href="{{ url_for('view_log', log=session_id) }}">{{ session_id }}</a>: <i>{{ exchange }}</i>
            {% if data %}
                <ul>
                    {% for key, value in data.items() %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <br>
            <a href="{{ url_for('step_in', session=session_id) }}">
                <button>Step In</button>
            </a>
            <form action="{{ url_for('clear_session') }}" method="post"
                  onsubmit="return confirm('Do you really want to delete the session?\nThis will remove all data ' +
                   'associated with the user, including name and current exchange.')">
                <input type="text" name="session_id" value="{{ session_id }}" hidden>
                <button>Delete {{ session_id }}</button>
            </form>
            <br>
        </li>
    {% endfor %}
</ol>
</body>
</html>