<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <title>Step In</title>

    <script>
        const session = "{{ session_id }}";

        function updateChat() {
            const adminMessage = document.getElementById("adminMessage");
            const adminMessageContent = adminMessage.value;
            adminMessage.value = "";

            sendMessage(adminMessageContent);
        }

        function confirmMessage(success, message) {
            if (!success) {
                const chatLog = document.getElementById("chatLog");
                const botP = document.createElement("p");
                chatLog.appendChild(botP);
                botP.innerText = "Error sending message."
            }
        }

        function sendMessage(message) {
            httpAsync("{{ url_for('send_manual_message') }}",
                {'session': session, 'message': message},
                confirmMessage);
        }

        function updateExchange() {
            const newExchange = document.getElementById("currentExchange").value;
            const data = {'session': session, 'exchange': newExchange};
            let doRedirect = false;

            const deQueueBox = document.getElementById('deQueueBox');
            if (deQueueBox !== null) {
                data['de_queue'] = deQueueBox.checked;
                doRedirect = true;
            }
            const sendPromptBox = document.getElementById('sendPromptBox');
            if (sendPromptBox !== null) {
                data['send_prompt'] = sendPromptBox.checked;
            }
            httpAsync("{{ url_for('manual_set_exchange') }}",
                data,
                function (success, _) {
                    if (!success) {
                        alert("Error updating the exchange!");
                    }
                    if (doRedirect) {
                        window.location.href = "{{ url_for('sessions') }}";
                    }
                });
        }

        function deleteData(key) {
            httpAsync("{{ url_for('manual_delete_key') }}",
                {'session': session, 'key': key},
                function (success, _) {
                    if (success) {
                        window.location.reload(true);
                    } else {
                        alert("Error deleting the data with key" + key + "!");
                    }
                });
        }

        function updateData() {
            const dataList = document.getElementById('sessionData');
            const newKeyEl = document.getElementById('newKey');
            const newKey = newKeyEl.value;
            const newValueEl = document.getElementById('newValue');
            const newValue = newValueEl.value;
            httpAsync("{{ url_for('manual_update_key') }}",
                {'session': session, 'key': newKey, 'value': newValue},
                function (success, _) {
                    if (success) {
                        const inputRow = document.getElementById("inputRow");
                        const newLi = document.createElement('li');
                        dataList.insertBefore(newLi, inputRow);
                        const newSpan = document.createElement('span');
                        newLi.appendChild(newSpan);
                        newSpan.innerText = newKey + ": " + newValue;
                        const newButton = document.createElement('button');
                        newLi.appendChild(newButton);
                        newButton.onclick = function () {
                            deleteData(newKey)
                        };
                        newButton.innerText = "-";

                        newKeyEl.value = "";
                        newValueEl.value = "";
                    } else {
                        alert("Error deleting the data with key" + key + "!");
                    }
                });
        }

        // modified from https://stackoverflow.com/a/4033310/ and https://stackoverflow.com/a/38982661/
        function httpAsync(url, body, callback, method = 'POST') {
            const xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4) {
                    callback(xmlHttp.status === 200, xmlHttp.responseText);
                }

            };
            if (method === 'GET') {
                url += formatParams(body);
            }
            xmlHttp.open(method, url, true); // true for asynchronous
            if (method === 'POST') {
                xmlHttp.setRequestHeader('Content-Type', 'application/json');
                xmlHttp.send(JSON.stringify(body));
            } else if (method === 'GET') {
                xmlHttp.send();
            }
        }

        function formatParams(params) {
            return "?" + Object
                .keys(params)
                .map(function (key) {
                    return key + "=" + encodeURIComponent(params[key])
                })
                .join("&")
        }
    </script>
    <style>
        #chatLog {
            position: absolute;
            overflow-y: scroll;
            width: 70%;
            max-height: 50%;
        }

        #messageEntry {
            position: absolute;
            left: 5px;
            bottom: 0;
            height: 100px;
        }
    </style>
</head>
<body style="height: 95%">
{% include "header.html" %}
<h1>{{ session_id }}</h1>
<label>
    Current exchange:
    <select id="currentExchange">
        {% for name, prompt, default, type_ in all_exchanges %}
            <option value="{{ name }}" {{ 'selected' if name == exchange }}>
                {{ name }}{{ ' (' + type_ + ')' if type_ }}</option>
        {% endfor %}
    </select>
</label>
{% if session_data.get('queued') %}
    <br>
    <label>
        <input type="checkbox" id="deQueueBox" checked>
        Remove from queue
    </label>
{% endif %}
<br>
<label>
    <input type="checkbox" id="sendPromptBox" checked>
    Send prompt
</label>
<br>
<button onclick="updateExchange()">Update</button>

<ul id="sessionData">
    {% for key, value in session_data.items() %}
        <li>{{ key }}: {{ value }}
            <button onclick="deleteData('{{ key }}')">-</button>
        </li>
    {% endfor %}
    <li id="inputRow">
        <input type="text" id="newKey">: <input type="text" id="newValue">
        <button onclick="updateData()">Update</button>
    </li>
</ul>
<iframe src="{{ url_for('view_log_frame', log=session_id) }}" frameborder="0" id="logFrame"
        style="border-style: none; width: 100%; height: 50%;"></iframe>
<div id="messageEntry">
    <label>Message
        <textarea id="adminMessage" autofocus></textarea>
    </label>
    <button onclick="updateChat()">Send</button>
</div>
</body>
</html>