<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viewing {{ name }}</title>
</head>
<body>
{% include "header.html" %}
<h1>Viewing {{ name }}</h1>
<table>
    {% for message, is_from_user, timestamp in log %}
        <tr>
            <td style="min-width: 10em;">[{{ timestamp }}]</td>
            <td style="float: right;"><b>{{ 'User' if is_from_user else 'Bot' }}</b>:</td>
            <td>{% for word in message.split() %}
                {% if word.startswith('https://api.twilio.com/') %}
                    <img src="{{ word }}" height="800px" alt="user image">
                {% else %}
                    {{ word }}
                {% endif %}
            {% endfor %}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>